:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsla(0, 99%, 99%);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 50px 0;
}

.grid {
  padding: 50px 0px;
  display: grid;
  grid-row-gap: 40px;
}

.number {
  justify-self: center;
  background-color: hsl(342, 59%, 64%);
  color: white;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.number p {
  margin: 15px auto;
  line-height: 1;
}

.span {
  grid-column: span 2;
}

button {
  margin-left: 40px;
  border: none;
  padding: 12px 0px 12px 15px;
  background-color: hsla(200, 50%, 70%);
  color: white;
  font-size: 16px;
  transition: all 0.2s ease 0.1s;
}

button:hover {
  background-color: hsla(200, 50%, 80%);
  cursor: pointer;
}

button:active {
  transform: scale(97%);
}

.header span {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 15px;
  margin-left: 15px;
  background-color: hsl(342, 59%, 64%);
  color: white;
}

h1 {
  margin-bottom: 50px;
  font-size: 35px;
  text-align: center;
}
